@using API_DesignPattern.Models.ErrorViewModel;
@model  ErrorViewModel;
<html>
<body>
    <h1>Something went wrong</h1>

    <p><strong>Message:</strong> @Model.Message</p>
    <p><strong>Path:</strong> @Model.Path</p>
    <p><strong>Trace ID:</strong> @Model.TraceId</p>
</body>
</html>